<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <table border="3">
    <tr>
        <th>EMAIL </th>
        <th>ADRESS1 </th>
        <th>ADDRESS2</th>
        <th>CITY</th>
        <th>STATE </th>
        <th>ZIP </th>
        <th>MSG </th>

    </tr>
    
    <tr>
        {% for i in x %}
        <td>
            {{i['email']}}
        </td>
        <td>
            {{i['address']}}
        </td>
        <td>
            {{i['address2']}}
        </td>
        <td>
            {{i['city']}}
        </td>
        <td>
            {{i['state']}}
        </td>
        <td>
            {{i['zip']}}
        </td>
        <td>
            {{i['message']}}
        </td>
        {% endfor %}
    </tr>
   
   </table> 
</body>
</html>